
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container{
    height: 60vh;
    width: 50vw;
    background-color: #ffffff89;
    box-shadow: #ffffff89;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    height: 23px;
    width: 80%;
    border: 0px ;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    margin: 5px;
    font-size: 14px;
}

button{
    border: 0px ;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    font-size: 14px;
    background-color: #0b2eca;
    color: #fffafa;
    cursor: pointer;
}